#intestazione {
    background-image: url(file:///Users/cholo69/Documents/Boolean%23118/Esercizi/html-css-booleaner/img/pattern.png);
    background-color: rgb(0, 183, 255);
    background-size: auto;
    height: 150px;
  }
  #logo{
    width: 200px;
    height: 200px;
    padding-top: 0%;
  }
  #foto1{
    width: 53.5%;
}
#foto2{
    width: 45.7%;
}
.scrittagrigia{
    color: gray;
}
.scrittaazzurra{
    color: aqua;
}
.fraseevidenziata{
    background-color: yellow;
}
.lista{
    margin-left: 0px;
}
#Sottotitolo{
    color: grey;
}
td{
    color: black;
}
#testatabella{
    background-color: blue;
    border: blue 2px;
    color: white;
    text-align: justify;
}
.rigacolorata{
    background-color: aqua;
    border: aqua;
    color: white;
}
.dimensioneriga{
    text-align: justify;
    width: 200px;
}